* {
    box-sizing: border-box;
    --transition-1: all 0.3s ease;
    --color-primary: #00009b;
    --color-textDesc: #020202;
    --gradient-color: radial-gradient(
                29.9% 70.94% at 44.25% 86.96%,
                #aedcfa 0%,
                rgba(173, 229, 249, 0) 100%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        radial-gradient(
                33.83% 53.57% at 35.87% 100%,
                #b2ebf5 0%,
                rgba(181, 238, 244, 0.31) 100%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        linear-gradient(
            225.19deg,
            rgba(192, 169, 240, 0) -15.26%,
            #c0a9f0 -1.64%,
            rgba(192, 169, 240, 0) 14.23%
        ),
        linear-gradient(0deg, #c2a6f1, #c2a6f1),
        radial-gradient(
                42.66% 49.72% at 45.56% 44.65%,
                #cbadeb 0%,
                rgba(194, 166, 241, 0) 100%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        linear-gradient(
            134.59deg,
            #cdf9e8 20.63%,
            rgba(205, 249, 232, 0) 47.84%
        ),
        radial-gradient(
                40.75% 97.37% at 90.75% 40.15%,
                #d0fded 0%,
                #c9f6f0 34.46%,
                #f0bdd0 69.5%,
                rgba(255, 129, 38, 0) 100%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        linear-gradient(
            128.53deg,
            rgba(210, 212, 250, 0) 28.63%,
            #d7d0fb 38.5%,
            rgba(192, 169, 240, 0) 50.26%
        ),
        linear-gradient(123.35deg, #ebf3d0 0%, rgba(235, 243, 208, 0) 18.4%),
        linear-gradient(0deg, #ffffff, #ffffff);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* =====================Common=========================== */
.heading {
    font-family: "Beaufort", serif;
    font-size: 6rem;
    color: var(--color-primary);
}

.desc {
    font-weight: 400;
    font-size: 14px;
}

.btnGradient {
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 500;
    padding: 10px 29px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    background: var(--gradient-color);
    color: #00009b;
    text-shadow: 2px 2px 2px #00000040;
}
/* =====================Header=========================== */
header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.navbar .logo {
    width: 60px;
}
.navbar .logo .logoIcon {
    width: 100%;
    object-fit: contain;
}

.navbar .menu ul {
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 500;
    font-size: 1.6rem;
    transform: translateY(25%);
    color: var(--color-textDesc);
}

.navbar .menu ul a {
    text-decoration: none;
    color: var(--color-textDesc);
}

.navbar .features {
    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar .features .login,
.navbar .features .bag {
    background-color: transparent;
    border: none;
}

.navbar .features .line {
    position: relative;
    width: 1px;
    height: 8px;
    background-color: black;
}

.navbar .features .line::after,
.navbar .features .line::before {
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    height: 1px;
    background-color: #000;
}

.navbar .features .line::after {
    top: -2px;
}

.navbar .features .line::before {
    bottom: -2px;
}

.navbar .features .bag {
    position: relative;
}

.navbar .features .bag .number {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding-top: 2px;
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 10px;
}

/* =====================Footer=========================== */
footer .container-fluid {
    background-color: var(--color-primary);
}
footer .navFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
}

footer .navFooter .leftSide,
footer .navFooter .rightSide {
    width: 40%;
}

footer .navFooter .midSide {
    position: relative;
    width: 20%;
}

footer .navFooter .leftSide ul,
footer .navFooter .rightSide ul,
footer .navFooter .midSide ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .navFooter .midSide .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-primary);
    width: 135px;
    height: 135px;
    border-radius: 50%;
}

footer .navFooter .midSide::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2222881a;
    width: 149px;
    height: 149px;
    border-radius: 50%;
    z-index: -1;
}

footer .navFooter .midSide::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 183px;
    height: 183px;
    border: 90px solid red;
    border-color: #2222881a #2222881a transparent transparent;
    border-radius: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: -2;
}

footer .navFooter .midSide .logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* info */

footer .info {
    margin-top: 72px;
    margin-bottom: 62px;
}

footer .info .heading {
    font-family: "Poppins", sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 15px;
}

footer .info .desc {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-textDesc);
}

footer .info .company .contentBox {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-bottom: 17px;
}

footer .info .company .contentBox .img {
    width: 16px;
}

/* lienKetHuuIch */
footer .info .lienKetHuuIch {
    padding-left: 5%;
}

footer .info .lienKetHuuIch li {
    margin-bottom: 10px;
}

footer .info .lienKetHuuIch li a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-textDesc);
}

footer .info .mangXH .socialsBox {
    display: flex;
    gap: 10px;
}

footer .info .mangXH .socialsBox .icon {
    position: relative;
}

footer .info .mangXH .socialsBox .subIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer .info .hotline {
    margin-top: 50px;
    display: flex;
    gap: 15px;
    border-top: 2px solid #efefef;
    border-bottom: 2px solid #efefef;
    padding: 35px;
}

footer .info .hotline:nth-child(2) {
    border: 2px solid #efefef;
}

footer .info .hotline .content {
    display: flex;
    gap: 8px;
    flex-direction: column;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
}

footer .info .hotline .content .desc {
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-primary);
}

footer .copyright .boxContent {
    margin-bottom: 35px;
    width: 100%;
    display: flex;
    gap: 22px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
footer .copyright .boxContent .noti {
    font-size: 1.3rem;
    font-weight: 400;
    color: #666666;

}

footer .copyright .boxContent .imgBox {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

footer .copyright .boxContent .imgBox .img {
    height: 100%;
}
