* {
    box-sizing: border-box;
    --margin1: 150px;
    --transition-1: all 0.3s ease;
    --color-primary: #00009b;
    --color-textDesc3: #333333;
    --color-textDesc: #020202;
    --color-textDesc2: #010101;
    --color-red: #cc0e0e;
    --gradient-color: radial-gradient(
                29.9% 70.94% at 44.25% 86.96%,
                #aedcfa 0%,
                rgba(173, 229, 249, 0) 100%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        radial-gradient(
                33.83% 53.57% at 35.87% 100%,
                #b2ebf5 0%,
                rgba(181, 238, 244, 0.31) 100%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        linear-gradient(
            225.19deg,
            rgba(192, 169, 240, 0) -15.26%,
            #c0a9f0 -1.64%,
            rgba(192, 169, 240, 0) 14.23%
        ),
        linear-gradient(0deg, #c2a6f1, #c2a6f1),
        radial-gradient(
                42.66% 49.72% at 45.56% 44.65%,
                #cbadeb 0%,
                rgba(194, 166, 241, 0) 100%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        linear-gradient(
            134.59deg,
            #cdf9e8 20.63%,
            rgba(205, 249, 232, 0) 47.84%
        ),
        radial-gradient(
                40.75% 97.37% at 90.75% 40.15%,
                #d0fded 0%,
                #c9f6f0 34.46%,
                #f0bdd0 69.5%,
                rgba(255, 129, 38, 0) 100%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        linear-gradient(
            128.53deg,
            rgba(210, 212, 250, 0) 28.63%,
            #d7d0fb 38.5%,
            rgba(192, 169, 240, 0) 50.26%
        ),
        linear-gradient(123.35deg, #ebf3d0 0%, rgba(235, 243, 208, 0) 18.4%),
        linear-gradient(0deg, #ffffff, #ffffff);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* =====================Common=========================== */
.heading {
    font-family: "Beaufort", serif;
    font-size: 6rem;
    color: var(--color-primary);
}

.desc {
    font-weight: 400;
    font-size: 14px;
}

.btnGradient {
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 500;
    padding: 10px 29px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    background: var(--gradient-color);
    color: #00009b;
    text-shadow: 2px 2px 2px #00000040;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
}

.myCard {
    position: relative;
    width: 345px;
    height: 547px;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(
        140.05deg,
        #ffffff -61.39%,
        rgba(255, 255, 255, 0) 109.15%
    );
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}

.myCard .imgBox {
    position: relative;
    width: 345px;
    aspect-ratio: 1;
    background-color: #fff;
    border-radius: 15px 15px 0 0;
}

.myCard .imgBox .imgSp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myCard .imgBox .freeShip {
    position: absolute;
    top: 88%;
    left: 80%;
    height: 10%;
}

.myCard .imgBox .logoMini {
    position: absolute;
    top: 5%;
    left: 5%;
}
.myCard .imgBox .sale {
    position: absolute;
    top: 88%;
    left: 5%;
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    padding: 8px 15px;
    background-color: var(--color-primary);
    border-radius: 5px;
}

.myCard .myCard_body {
    padding: 17px 25px 5px 25px;
}

.myCard .myCard_body .buy {
    position: absolute;
    bottom: 0px;
    right: 0;
    border: none;
    padding: 17px;
    color: var(--color-primary);
    background: #eaeaff;
    border-radius: 50px 50px 0 50px;
    transition: var(--transition-1);
}

.myCard .myCard_body .buy:hover {
    background-color: var(--color-primary);
}
.myCard .myCard_body .buy:hover svg path {
    fill: #fff;
}

.myCard .myCard_body .category {
    color: var(--color-primary);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.myCard .myCard_body .title {
    color: var(--color-textDesc3);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 17px;
    height: 90px;
}

.myCard .myCard_body .cost_discount {
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-red);
}

.myCard .myCard_body .cost_discount sub {
    font-size: 1.5rem;
}

.myCard .myCard_body .cost {
    color: #a5a5a5;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    text-decoration: line-through;
}

.articleItem {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 12px;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 52.87%,
        #000000 91.86%
    );
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 30px;
    transition: var(--transition-1);
}
.articleItem .bg {
    position: absolute;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    top: 0;
    left: 0;
    z-index: -1;
}

.articleItem .categoryBox {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    transition: var(--transition-1);
}

.articleItem .categoryBox .category {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.articleItem .title {
    width: 85%;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    transition: all 0.3s ease 0.1s;
}

.articleItem .listItem .item:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.articleItem .listItem .item:hover .categoryBox {
    transform: translateY(-15px);
}
.articleItem .listItem .item:hover .title {
    transform: translateY(-15px);
}

.form_text {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 0px 3px #cbcbff;
    margin-bottom: 9px;
    padding: 13px 22px;
}

.form_text input {
    width: 100%;
    border: none;
}
.form_text input:focus {
    outline: none;
}

/* ===== */
.custom-select {
    width: 100%;
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none; /*hide original SELECT element: */
}

.select-selected {
    width: 100%;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 0px 3px #cbcbff;
    margin-bottom: 9px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #666 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
    color: #666;
    padding: 13px 22px;
    border: 1px solid transparent;
    border-color: transparent rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1)
        rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: #fff;
    top: 100%;
    height: 200px;
    overflow: scroll;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
/* ===checbox=== */
.form_check {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
    padding: 13px 22px;
    padding-left: 55px;
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid transparent;
    overflow: hidden;
}

.form_check.checked {
    border: 1px solid var(--color-primary);
}

.form_check.checked::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    border: 10px solid;
    border-color: transparent var(--color-primary) var(--color-primary)
        transparent;
}

.form_check.checked .tickIcon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12px;
    aspect-ratio: 1/1;
    z-index: 1;
}

.form_check .tickIcon svg {
    width: 100%;
    height: 100%;
}

.form_check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 15px;
    left: 22px;
    height: 15px;
    width: 15px;
    border: 1px solid #666;
    border-radius: 50%;
    background-color: #fff;
}
.form_check:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.form_check.checked .checkmark:after {
    display: block;
}

.form_check .checkmark:after {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: var(--color-primary);
    border-radius: 50%;
}

/* claim line  */
.line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--line); /* Số dòng tối đa */
    -webkit-box-orient: vertical;
}
/* =====================Header=========================== */
header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

header .navMb {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-100%);
    background-color: #fff;
    color: var(--color-primary);
    padding: 30px;
    transition: var(--transition-1);
    overflow: scroll;
}

header .navMb.active {
    transform: translateX(0);
}

header .navMb .closeBox {
    display: flex;
    justify-content: space-between;
}

header .navMb .leftSide,
header .navMb .rightSide {
    display: flex;
    align-items: center;
    gap: 25px;
}

header .navMb .iconMb {
    display: block;
    width: 40px;
    height: 40px;
    fill: var(--color-primary);
}

header .menuMb .menuMb_item {
    margin-top: 50px;
    display: flex;
    gap: 15px;
    border-top: 2px solid #efefef;
    border-bottom: 2px solid #efefef;
    padding: 35px;
}

header .menuMb .menuMb_item a {
    text-decoration: none;
    font-weight: 700;
    color: var(--color-primary);
}

header .menuMb .menuMb_item .iconMenuMb {
    width: 25px;
    fill: var(--color-primary);
}

.navbar {
    padding-top: 20px;
    position: relative;
    animation: navAni 0.5s ease-out 1;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

header .iconNavMb {
    display: none;
}

@keyframes navAni {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.navbar .bgNav {
    position: absolute;
    top: 0%;
    left: -3%;
    width: 106%;
    z-index: -1;
}

.navbar .logo {
    width: 60px;
}
.navbar .logo .logoIcon {
    width: 100%;
    object-fit: contain;
}

.navbar .menu ul {
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 500;
    font-size: 1.6rem;
    transform: translateY(25%);
    color: var(--color-textDesc);
}

.navbar .menu ul a {
    text-decoration: none;
    color: var(--color-textDesc);
}

.navbar .menu ul a.active,
.navbar .features .bag.active {
    position: relative;
}

.navbar .menu ul a.active::after,
.navbar .features .bag.active::after {
    position: absolute;
    content: "";
    bottom: -46px;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 50px;
    background-color: var(--color-primary);
    z-index: 2;
}

.navbar.homePage .menu ul a.active::after {
    bottom: -10px;
}

.navbar .features {
    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar .features .login,
.navbar .features .bag {
    background-color: transparent;
    border: none;
}

.navbar .features .line {
    position: relative;
    width: 1px;
    height: 8px;
    background-color: black;
}

.navbar .features .line::after,
.navbar .features .line::before {
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    height: 1px;
    background-color: #000;
}

.navbar .features .line::after {
    top: -2px;
}

.navbar .features .line::before {
    bottom: -2px;
}

.navbar .features .bag {
    position: relative;
}

.navbar .features .bag .number {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding-top: 2px;
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 10px;
}

/* ==login=== */
body.login #loginIcon:hover .listSub {
    display: block;
}

#loginIcon {
    position: relative;
}

#loginIcon .listSub {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    background: #fff;
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.1);
    padding: 14px 25px;
}

#loginIcon .listSub ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    list-style: inside;
}

#loginIcon .listSub a {
    text-decoration: none;
    color: #000;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.1s ease;
}

#loginIcon .listSub a:hover {
    color: var(--color-primary);
}

/* =====================Footer=========================== */
footer .container-fluid {
    background-color: var(--color-primary);
}
footer .navFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
}

footer .navFooter .leftSide,
footer .navFooter .rightSide {
    width: 40%;
}

footer .navFooter .midSide {
    position: relative;
    width: 20%;
}

footer .navFooter .leftSide ul,
footer .navFooter .rightSide ul,
footer .navFooter .midSide ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .navFooter .midSide .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-primary);
    width: 135px;
    height: 135px;
    border-radius: 50%;
}

footer .navFooter .midSide::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2222881a;
    width: 149px;
    height: 149px;
    border-radius: 50%;
    z-index: -1;
}

footer .navFooter .midSide::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 183px;
    height: 183px;
    border: 90px solid red;
    border-color: #2222881a #2222881a transparent transparent;
    border-radius: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: -2;
}

footer .navFooter .midSide .logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* info */

footer .info {
    margin-top: 72px;
    margin-bottom: 62px;
}

footer .info .heading {
    font-family: "Poppins", sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 15px;
}

footer .info .desc {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-textDesc);
}

footer .info .company .contentBox {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-bottom: 17px;
}

footer .info .company .contentBox .img {
    width: 16px;
}

/* lienKetHuuIch */
footer .info .lienKetHuuIch {
    padding-left: 5%;
}

footer .info .lienKetHuuIch li {
    margin-bottom: 10px;
}

footer .info .lienKetHuuIch li a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-textDesc);
}

footer .info .mangXH .socialsBox {
    display: flex;
    gap: 10px;
}

footer .info .mangXH .socialsBox .icon {
    position: relative;
}

footer .info .mangXH .socialsBox .subIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer .info .hotline {
    margin-top: 50px;
    display: flex;
    gap: 15px;
    border-top: 2px solid #efefef;
    border-bottom: 2px solid #efefef;
    padding: 35px;
}

footer .info .hotline:nth-child(2) {
    border: 2px solid #efefef;
}

footer .info .hotline .content {
    display: flex;
    gap: 8px;
    flex-direction: column;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
}

footer .info .hotline .content .desc {
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-primary);
}

footer .copyright .boxContent {
    margin-bottom: 35px;
    width: 100%;
    display: flex;
    gap: 22px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
footer .copyright .boxContent .noti {
    font-size: 1.3rem;
    font-weight: 400;
    color: #666666;
}

footer .copyright .boxContent .imgBox {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

footer .copyright .boxContent .imgBox .img {
    height: 100%;
}

/* ====bootstrap loginFrom===== */
.modal.show .modal-dialog {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.loginFrom {
    width: 964px;
    position: relative;
    background-color: transparent;
    border: none;
}

.loginFrom-close {
    position: absolute;
    top: -33px;
    right: -33px;
    border: none;
    width: 33px;
    aspect-ratio: 1/1;
    background-color: transparent;
}

.loginFrom .loginFrom-body {
    width: 964px;
    display: flex;
    padding: 0;
}

.loginFrom-body .leftSide {
    position: relative;
    width: 53%;
}

.loginFrom-body .leftSide img {
    width: 100%;
    object-fit: cover;
    opacity: 0;
}

.loginFrom-body .leftSide .sub {
    position: absolute;
    width: 108.4%;
    top: -20px;
    left: -15px;
    opacity: 1;
    z-index: -1;
}

.loginFrom-body .rightSide {
    width: 47%;
}

.loginFrom-body .rightSide {
    display: flex;
    flex-direction: column;
    border-radius: 0px 15px 15px 0px;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    padding: 34px 48px 34px 48px;
}

.loginFrom-body .rightSide .desc {
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
}

.loginFrom-body .rightSide .desc a {
    color: var(--color-primary);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}

.loginFrom-body label {
    margin-bottom: 9px !important;
}

.loginFrom-body .inputButton {
    display: flex;
    border-radius: 10px;
    border: 1px solid #cbcbff;
    background: #fff;
    box-shadow: 0px 4px 0px 0px #cbcbff;
    padding: 12px;
    margin-bottom: 23px;
}

.loginFrom-body .inputButton .icon {
    width: 10%;
}

.loginFrom-body .inputButton .icon img {
    width: 50%;
    object-fit: cover;
}

.loginFrom-body .inputButton input {
    border: none;
}

.loginFrom-body .inputButton input:focus {
    border: none;
    outline: none;
}

.loginFrom-body .desc.noti {
    color: #666666;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.loginFrom-body .btnGradient {
    margin-top: 10px;
    text-align: center;
    color: var(--color-primary);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 13px;
}

/* ======= */
.registerFrom {
    width: 450px;
    position: relative;
    background-color: transparent;
    border: none;
}

.registerFrom-close {
    position: absolute;
    top: -33px;
    right: -33px;
    border: none;
    width: 33px;
    aspect-ratio: 1/1;
    background-color: transparent;
}

.registerFrom .registerFrom-body {
    width: 450px;
    display: flex;
    padding: 0;
}

.registerFrom-body .rightSide {
    width: 100%;
}

.registerFrom-body .rightSide {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    padding: 34px 48px 34px 48px;
}

.registerFrom-body .rightSide .desc {
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
}

.registerFrom-body .rightSide .desc a {
    color: var(--color-primary);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}

.registerFrom-body label {
    margin-bottom: 9px !important;
}

.registerFrom-body .inputButton {
    display: flex;
    border-radius: 10px;
    border: 1px solid #cbcbff;
    background: #fff;
    box-shadow: 0px 4px 0px 0px #cbcbff;
    padding: 12px;
    margin-bottom: 23px;
}

.registerFrom-body .inputButton .icon {
    width: 10%;
}

.registerFrom-body .inputButton .icon img {
    width: 50%;
    object-fit: cover;
}

.registerFrom-body .inputButton input {
    border: none;
}

.registerFrom-body .inputButton input:focus {
    border: none;
    outline: none;
}

.registerFrom-body .desc.noti {
    color: #666666;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.registerFrom-body .btnGradient {
    margin-top: 10px;
    text-align: center;
    color: var(--color-primary);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 13px;
}
/* ======= */
.datHangTC {
    width: 600px;
    position: relative;
    background-color: transparent;
    border: none;
}

.datHangTC-close {
    position: absolute;
    top: -33px;
    right: -33px;
    border: none;
    width: 33px;
    aspect-ratio: 1/1;
    background-color: transparent;
}

.datHangTC .datHangTC-body {
    width: 600px;
    display: flex;
    padding: 0;
}

.datHangTC-body .rightSide {
    width: 100%;
}

.datHangTC-body .rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    padding: 34px 48px 34px 48px;
}

.datHangTC-body .succesIcon {
    position: relative;
    width: 110px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--color-primary);
    margin-bottom: 25px;
}

.datHangTC-body .title {
    color: var(--color-primary);
    text-align: center;

    font-size: 2.6rem;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 25px;
}

.datHangTC-body .succesIcon svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.datHangTC-body .rightSide .desc {
    color: #000;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin-bottom: 8px;
}

.datHangTC-body .rightSide .desc #idDh {
    color: var(--color-primary);
}

.datHangTC-body .rightSide .desc .phone {
    font-size: 2rem;
    font-weight: 600;
    color: #b90c0c;
}

.datHangTC-body .rightSide .desc a {
    color: var(--color-primary);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}

.datHangTC-body .btnGradient {
    margin-top: 28px;
    width: 229px;
    text-align: center;
    color: var(--color-primary);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 13px;
}

@media screen and (max-width: 1024px) {
    .loginFrom-body .leftSide {
        display: none;
    }
    .loginFrom .loginFrom-body {
        transform: translateX(+30px);
        width: 450px;
    }
    .loginFrom-body .rightSide {
        width: 100%;
        border-radius: 15px;
    }
    header {
        top: -12px;
        position: sticky;
        background-color: #fff;
    }
    header .bgNav {
        display: none;
    }
    header .menu {
        display: none;
    }

    header .navbar .logo {
        width: 120px;
        gap: 25px;
    }

    header .logo .iconNavMb {
        display: flex;
        align-items: center;
        height: 50px;
    }

    header .logo .iconNavMb svg {
        width: 100%;
        height: 60%;
        object-fit: contain;
    }
    header .logo img {
        width: 50px !important;
    }

    footer .navFooter {
        justify-content: center;
    }
    footer .navFooter .midSide {
        height: 25px;
    }
    footer .navFooter .leftSide,
    footer .navFooter .rightSide {
        display: none;
    }
    .navbar .menu ul a.active::after,
    .navbar .features .bag.active::after {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .datHangTC-close {
        top: -11px;
        right: -0px;
    }
    .datHangTC .datHangTC-body {
        width: 400px;
        transform: translateX(13%);
    }
}

@media screen and (max-width: 520px) {
    header .menuMb .menuMb_item {
        margin-top: 15px;
    }
    .loginFrom .loginFrom-body {
        transform: translateX(20px);
        width: 330px;
    }
    .loginFrom-body .rightSide {
        padding: 25px;
    }
    .loginFrom-close {
        top: -37px;
        right: 19px;
    }
    .registerFrom .registerFrom-body {
        transform: translateX(20px);
        width: 330px;
    }
    .registerFrom-body .rightSide {
        padding: 25px;
    }
    .datHangTC-close {
        top: 19px;
        right: 51px;
    }
    .datHangTC .datHangTC-body {
        transform: scale(0.7);
    }
}
